@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <h2>Магазин товаров</h2>

    <p>
        <a href="/Home/Index">Главная</a>
    </p>
    <h3>Сотрудники магазина</h3>
    <hr />
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.LastName</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.Patronymic</td>
                    <td>@emp.Age</td>

                </tr>
            }
        </tbody>

    </table>
</body>
</html>
